

.PiedDuPage {
    background-color: #353535;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 20px;
    &__titre{
        font-family: Shrikhand;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }

    li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

@media all and (min-width: 1024px) {

    .PiedDuPage {
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        height: 114px;
        gap: 30px;
        ul {
            display: flex;
             flex-direction: row;
             margin-right: 16px;
            li {
               margin-left: 16px;
            }
        }
        &__titre {
            margin-right: 25px;
            
        }

    }
}